.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: Ppradiogrotesk, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-color-white.text-align-center.play-btn-text {
  font-size: .875rem;
  position: relative;
}

.text-color-white.text-align-center.play-btn-text-ab {
  font-size: .875rem;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #0073e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.main-wrapper {
  position: relative;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.home-message_content-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
  display: grid;
}

.home-message_component {
  min-height: 100vh;
  color: #fff;
  padding: 3rem;
  display: flex;
}

.home-message_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.home-message_content {
  width: 100%;
  color: #000;
  background-color: rgba(0, 0, 0, .05);
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  display: flex;
}

.home-message_heading-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item-icon {
  width: 1.75rem;
  height: 1.75rem;
  color: #000;
  background-color: #fff;
  flex: none;
}

.home-message_logo {
  width: 4rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.webgl {
  width: 100svw;
  height: 100svh;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gradient-t-l {
  width: 62.5rem;
  height: 56.25rem;
  opacity: .8;
  position: fixed;
  top: -40rem;
  bottom: auto;
  left: -40rem;
  right: auto;
}

.gradient-b-r {
  width: 62.5rem;
  height: 56.25rem;
  opacity: .8;
  position: fixed;
  top: auto;
  bottom: -40rem;
  left: auto;
  right: -37.2rem;
}

.gradient-main {
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.main-section {
  z-index: 10;
  width: 100svw;
  height: 100svh;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.navigation {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-flex {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.nav-logo {
  width: 6rem;
}

.nav-quote-parent {
  height: 1.25rem;
  max-width: 13.25rem;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav-quote-wrap {
  flex: none;
  align-items: center;
  display: flex;
}

.nav-quote-blur {
  width: 2.25rem;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(to right, rgba(16, 26, 45, .7), rgba(14, 20, 38, 0));
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.nav-quote-blur.right {
  opacity: 0;
  background-image: linear-gradient(to right, rgba(14, 20, 38, 0), rgba(14, 21, 38, .7));
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.nav-quote-text {
  margin-right: 1rem;
}

.nav-time-parent {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.primary-btn {
  border: 1px solid #fff;
  border-radius: .375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .525rem .875rem .625rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.rel-pos {
  position: relative;
}

.footer {
  padding-bottom: 1.5rem;
}

.footer-flex {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  display: grid;
}

.play-btn {
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: .875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  transition: box-shadow .2s, border-color .4s;
  display: flex;
  position: relative;
  overflow: visible;
  transform: rotate(45deg);
  box-shadow: 0 0 20px 1px rgba(69, 89, 156, 0);
}

.play-btn:hover {
  border-color: #fff;
  box-shadow: 0 0 20px 1px rgba(69, 89, 156, .49);
}

.soundtoggler {
  width: 8svw;
  height: 2svh;
  transition: all .2s cubic-bezier(.165, .84, .44, 1);
}

.soundtoggler.is-paused {
  opacity: .5;
}

.sound-toggle-parent {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: flex;
}

.page-loader {
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #01040f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.page-loader-full-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: scale(1.2);
}

.gradient-t-l--loader {
  width: 62.5rem;
  height: 56.25rem;
  opacity: .8;
  position: fixed;
  top: -40rem;
  bottom: auto;
  left: -40rem;
  right: auto;
}

.gradient-b-r-loader {
  width: 62.5rem;
  height: 56.25rem;
  opacity: .8;
  position: fixed;
  top: auto;
  bottom: -40rem;
  left: auto;
  right: -37.2rem;
}

.page-loader-content {
  z-index: 2;
  width: 100%;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
  display: grid;
  position: relative;
}

.page-loader-pg-wrap {
  max-width: 42ch;
  margin-left: auto;
  margin-right: auto;
}

.pg-load-text {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.25;
}

.page-load-btn-wrap {
  margin-left: auto;
  margin-right: auto;
}

.play-btn-content {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #0a1020;
  border-radius: .7rem;
  position: relative;
  transform: rotate(0);
}

.play-btn-overflow {
  position: absolute;
  transform: rotate(-45deg);
}

.play-btn-rel {
  position: relative;
  overflow: hidden;
}

.intro-span {
  display: inline-block;
  overflow: hidden;
}

.no-bold-intro {
  font-weight: 400;
  display: inline-block;
}

.opacity-50 {
  opacity: .5;
}

.hero-pg-w {
  max-width: 25ch;
}

.text-size-small-ab {
  font-size: .875rem;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.primary-btn-bg {
  z-index: -1;
  width: 100%;
  height: 0%;
  background-color: #fff;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .nav-flex {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    display: flex;
  }

  .nav-time-btm.pg {
    width: 30ch;
  }

  .footer-flex {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    display: grid;
  }

  .hero-pg-w {
    max-width: none;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-message_component {
    padding: 0;
  }

  .home-message_content {
    border-radius: 0;
  }

  .pg-load-text {
    font-size: 1.3rem;
  }

  .hero-pg-mob {
    max-width: 31ch;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .text-size-small.text-color-white.opacity-50.show-mob {
    margin-bottom: 1rem;
  }

  .primary-btn.show-mob {
    margin-top: 1.75rem;
  }

  .pg-load-text {
    font-size: 1.2rem;
  }

  .hero-pg-mob {
    max-width: none;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
}

#w-node-_4c91a3d4-8cc0-1eff-cbc1-224fe2de9134-67f2c8c6 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-ac25b4f4-3682-28c3-c1d1-b2ce05934784-67f2c8c6 {
  grid-area: 1 / 4 / 2 / 6;
  align-self: start;
}

#w-node-_85131ea7-e6b3-fe52-c204-f7295153eaa5-67f2c8c6 {
  grid-area: 1 / 8 / 2 / 10;
}

#w-node-_9e1d31a6-047f-87b7-f2b0-6d40bd649501-67f2c8c6 {
  grid-area: 1 / 11 / 2 / 13;
  align-self: center;
  justify-self: end;
}

#w-node-_63ae54d5-b2c6-4ea7-3183-caef1fdf9d20-67f2c8c6 {
  grid-area: 1 / 1 / 2 / 3;
  align-self: end;
}

#w-node-_63ae54d5-b2c6-4ea7-3183-caef1fdf9d2c-67f2c8c6 {
  grid-area: 1 / 4 / 2 / 6;
}

#w-node-a1379cba-5bc6-f3f3-109b-2b375b29b374-67f2c8c6 {
  grid-area: 1 / 8 / 2 / 11;
}

#w-node-_63ae54d5-b2c6-4ea7-3183-caef1fdf9d33-67f2c8c6 {
  grid-area: 1 / 11 / 2 / 13;
  justify-self: end;
}

#w-node-ce8806f8-0073-4496-6151-40fc18393ef5-67f2c8c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ac02f6e6-4f09-ea83-c131-4ec6af17190c-67f2c8c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_81fa23de-696d-5a02-45db-d1311b7abc2f-67f2c8c6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-fbf2c8c9 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-fbf2c8c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-fbf2c8c9 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-fbf2c8c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-fbf2c8c9 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-fbf2c8c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-fbf2c8c9 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-fbf2c8c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-fbf2c8c9 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8d-fbf2c8c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-fbf2c8c9 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-fbf2c8c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-fbf2c8c9, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-fbf2c8c9 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-fbf2c8c9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-fbf2c8c9 {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_4c91a3d4-8cc0-1eff-cbc1-224fe2de9134-67f2c8c6, #w-node-_85131ea7-e6b3-fe52-c204-f7295153eaa5-67f2c8c6 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_63ae54d5-b2c6-4ea7-3183-caef1fdf9d20-67f2c8c6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_63ae54d5-b2c6-4ea7-3183-caef1fdf9d2c-67f2c8c6 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-a1379cba-5bc6-f3f3-109b-2b375b29b374-67f2c8c6 {
    grid-area: 1 / 3 / 2 / 4;
  }

  #w-node-_63ae54d5-b2c6-4ea7-3183-caef1fdf9d33-67f2c8c6 {
    grid-column: 3 / 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_63ae54d5-b2c6-4ea7-3183-caef1fdf9d2c-67f2c8c6 {
    grid-column: 3 / 4;
  }
}


@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-Ultralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ppradiogrotesk';
  src: url('../fonts/PPRadioGrotesk-UltralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}